.form{
   
    display: flex;
    flex-direction: column;
}
h5{
  font-size: 20px;
  color: rgb(13, 163, 25);
  margin-bottom: 0px;

}
h4{
    color: rgb(53, 47, 134);
    font-size: 25px;
    margin-bottom: 0px;
}
hr {
    width: 95%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 }
img {
    width: 120px;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 50%;
}
.topLeft {
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: space-evenly;
    background-color: azure;
  }
  .headerTop {
    display: flex;
    justify-content: space-between;
  }
  
  .hr2 {
    width: 90%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 20px;
  }
  .formsSection {
    margin: 25px;
  }
  
  .formStyle {
    display: flex;
    flex-direction: column;
  }
  
  .img2 {
    width: 80px;
   
  }
  
  .imgThumb {
    width: 170px;
    margin-left: 20px;
  }
  
  .templateCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cards {
    display: flex;
    width: 80%;
    margin: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
.basic {
  background-color: #fff;
    width: 25vw;
  
}
.gender{
  padding: 18.5px 14px;
  width: 95%;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #dadada;
  font-size: 16px;
}
.browser-default{
  font: inherit;
  color: #706c6c;
  border: 1px solid #c5bfbf;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
  background: none;
  box-sizing: content-box;
  letter-spacing: inherit;
  animation-duration: 10ms;
  padding: 17px 14px ;
}
.browser-default:hover{
  border: 1px solid black;
}
.browser-default:active{
  border: 1px solid blue;
}

